
<header>
    <h2>Presentation</h2>
    <div class="search-wrapper">
        <span class="fas fa-search"></span>
        <input type="search" placeholder="search" onkeyup="filtrer()" id="search"/>
    </div>
  </header>
  <main>
    <i class="fas fa-plus plus" id="myBtn" onclick="mybtn()"></i>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="sopan()">&times;</span>
            <form method="post" enctype="multipart/form-data" action="/Postpresentation" id="addPresentationForm">
                <div class="form-group mb-2">
                    <label for="Description">Description</label>
                    <input type="text" id="Description" name="Description" class="form-control" placeholder="Description" required>
    
                    <label for="telephone">Telephone</label>
                    <input type="text" id="telephone" name="telephone" class="form-control" placeholder="Telephone" required>
    
                    <label for="eamil">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
    
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Adresse" required>
                </div>
                <div class="form-group mb-2">
                    <label for="Image">Image</label>
                    <input type="file" id="Image" name="Image" class="form-control" required>
                </div>
                <button type="submit" onclick="clickRubrique('/Presentation');" class="btn btn-primary btn-block">Enregistrer</button>
            </form>
        </div>
    </div>

      <div class="list">
          <h2>Liste de presentation</h2>
          <hr>
          <table id="list">
              <thead>
                  <tr>
                    <th>DESCRIPTION</th>
                    <th>TELEPHONE</th>
                    <th>EMAIL</th>
                    <th>ADRESSE</th>
                    <th>IMAGE</th>    
                    <th>ACTIONS</th>
                  </tr>
              </thead>
              <tbody>
                <% presentations.forEach(function(presentation) { %>
                    <tr>
                        <td class="No"><%= presentation.Description %></td>
                        <td><%= presentation.telephone %></td>
                        <td><%= presentation.email %></td>
                        <td><%= presentation.adresse %></td>
                        <td><img src="<%= presentation.Image %>" alt="Image" class="img-fluid" style="max-width: 100px;"></td>
                        <td>
                                    <div class="yoyo">

                                <button class="btn  mb-2" onclick="edit('<%= presentation._id %>')">
                                    <i class="fas fa-pen"></i>
                                </button>
                                
                                <% if (presentation.activated === true) { %>
                                    <button class=" btn-secondary mb-2" onclick="updateActive('/Activatepresentation/<%= presentation._id %>', '<%= presentation.activated %>', '/Presentation')">
                                        <i class="fas fa-toggle-on"></i>
                                    </button>
                                <% } else { %>
                                    <button class=" btn-secondary mb-2" onclick="updateActive('/Activatepresentation/<%= presentation._id %>', '<%= presentation.activated %>', '/Presentation')">
                                        <i class="fas fa-toggle-off"></i>
                                    </button>
                                <% } %>
                                
                                </div>
                        </td>
                        
                        
                    </tr>
                    <tr id="editForm<%= presentation._id %>" style="display: none;">
                        <td colspan="6">
                            <form method="post" class="update-form" enctype="multipart/form-data" action="/Updatepresentation/<%= presentation._id %>" style="display: flex; flex-wrap: wrap;">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="form-group mb-2 w-100">
                                    <label for="update-description">Description</label>
                                    <input type="text" id="update-description" name="Description" class="form-control" value="<%= presentation.Description %>">

                                    <label for="telephone">Telephone</label>
                                     <input type="text" id="telephone" name="telephone" class="form-control" value="<%= presentation.telephone%>">

                                    <label for="email">Email</label>
                                    <input type="text" id="email" name="email" class="form-control" value="<%= presentation.email %>">

                                    <label for="adresse">Adresse</label>
                                    <input type="text" id="adresse" name="adresse" class="form-control" value="<%= presentation.adresse %>">
                                </div>
                                <div>
                                    <label for="Image">Image</label>
                                    <input type="file" id="Image" name="Image" class="form-control">
                                </div>
                                <div class="form-groupe">
                                    <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Presentation');">Update</button>
                                    <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= presentation._id %>')">Cancel</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
              </tbody>
          </table>
      </div>
  </main>