<div class="container mt-5">
    <div class="row">
        <!-- Main column for displaying historiques -->
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">
                    <span><img style="width: 70px; height: 70px;" src="/images/historique.png"></span>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-dark table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>DESCRIPTION</th>
                                <th>IMAGE</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% historiques.forEach(function(historique) { %>
                                <tr>
                                    <td><%= historique.Description %></td>
                                    <td><img src="<%= historique.Image %>" alt="Image" class="rounded mx-auto d-block" style="max-width: 100px;"></td>
                                    <td>
                                        <div class="form-group mb-2">
                                            <button class="btn mb-2" onclick="openModal('<%= historique._id %>', '<%= historique.Description %>')">
                                                <img width="40px" style="background-color: white;" height="40px" src="/images/editer.png" alt="">
                                            </button>
                                            
                                            <% if (historique.activated === true) { %>
                                                <button class="btn-secondary mb-2" onclick="updateActive('/Activatehistorique/<%= historique._id %>', '<%= historique.activated %>', '/Historique')">
                                                    <img width="40px" height="40px" src="/images/glissiere.png" alt="">
                                                </button>
                                            <% } else { %>
                                                <button class="btn-secondary mb-2" onclick="updateActive('/Activatehistorique/<%= historique._id %>', '<%= historique.activated %>', '/Historique')">
                                                    <img width="40px" height="40px" src="/images/eteindre.png" alt="">
                                                </button>
                                            <% } %>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Sidebar column for adding new historique -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span><img style="width: 50px; height: 50px;" src="/images/form.png"></span>
                    <h3>Add New Historique</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Posthistorique" id="addhistoriqueForm" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <label for="Description">Description</label>
                            <input type="text" id="Description" name="Description" class="form-control" placeholder="Description" required>
                        </div>
                        <div class="form-group mb-2">
                            <label for="Image">Image</label>
                            <input type="file" id="Image" name="Image" class="form-control" required>
                        </div>
                        <button type="submit"  onclick="clickRubrique('/Historique');" class="btn btn-primary btn-block">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Historique</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" class="update-form" enctype="multipart/form-data" action="">
                <div class="modal-body">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group mb-2">
                        <label for="update-description">Description</label>
                        <input type="textarea" id="update-description" name="Description" class="form-control">
                    </div>
                    <div class="form-group mb-2">
                        <label for="update-image">Image</label>
                        <input type="file" id="update-image" name="Image" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openModal(id, description) {
        document.querySelector('#editModal form').action = '/Updatehistorique/' + id;
        document.querySelector('#update-description').value = description;
        $('#editModal').modal('show');
    }
</script>
